.list-cards{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  li{
    width: calc(25% - 10px);
    &:last-child{
      margin-right: 0;
    }
    span{
      display: block;
      overflow: hidden;
      height: 300px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .5s ease-in-out;
      }
    }
    .list-title{
      margin-top: 8px;
      font-size: 1.1rem;
      font-weight: bold;
      color: #333;
    }
    &:hover{
      span{
        img{
          transform: scale(1.2);
        }
      }
    }
  }
}