@import '../../assets/scss/common/mixin';

.profile{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0;
  padding: 20px 20px 30px 20px;
  max-width: 350px;
  background-color: #ffffff30;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 40px 40px -20px #8b6b6b40;
  animation: ballon 10s ease-in-out infinite ;
  .thumb{
    width: 98%;
    height: 350px;
    overflow: hidden;
    border: 1px solid #ddd;
    img{
      @include image-cover();
    }
  }
  .contents{
    width: 100%;
    margin-top: 10px;
    .utils{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .sns{
        display: flex;
     
      }
      .ux{
        position: relative;
        display: flex;
    
     
      }
    }
    .text{
      position: relative;
      margin-top: 12px;
      font-size: .85rem;
      &:before{
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 15px;
        height: 3px;
        background: #d6d6d6;
      }
    }
  }
}