.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  padding: 20px 20px 30px 20px;
  max-width: 350px;
  background-color: #ffffff30;
  // border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 15px 0px #77777750;
  animation: ballon 10s ease-in-out infinite ;
  .thumb{
    width: 98%;
    height: 350px;
    overflow: hidden;
    border: 1px solid #ddd;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .contents{
    width: 100%;
    margin-top: 10px;
    .utils{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .sns{
        display: flex;
         a{
          margin-right: 10px;
          width: 25px;
          height: 30px;
          i{
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            color: #888;
            transition: .3s ease-in-out;
            &.instagram{
              &:hover{
                color: #c23b3b;
              }
            }
            &.kakao{
              img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transform: scale(.9);
              }
              &:hover{
                color: #dc8a25;
              }
            }
          }
        }
      }
      .ux{
        display: flex;
        a, button{
          display: flex;
          margin-right: 10px;
          width: 30px;
          height: 30px;
          i{
            display: flex;
            justify-content: center;
            font-size: 1.4rem;
            color: #888;
            transition: .3s ease-in-out;
            &.message{
              &:hover{
                color: #b07eef;
              }
            }
            &.like{
              &:hover{
                color: #f1b7b7;
              }
            }
            
          }
        }
      }
   
     
    }
    .text{
      position: relative;
      margin-top: 12px;
      font-size: .85rem;
      &:before{
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 15px;
        height: 3px;
        background: #d6d6d6;
      }
    }
  }
}

@keyframes ballon {
  0% {
    transform: translateY(0);
  }
  25%{
    transform: translateY(25px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}