@import '../../assets/scss/common/var';
@import '../../assets/scss/common/mixin';

$flow-speed: .5s ease-in-out;

@keyframes marquee-r {
  from {transform: translateX(-100%);}
  to {transform: translateX(0);}
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


// one Line Flow
.marquee {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid $color-basic;
  border-bottom: 1px solid $color-basic;
  background-color: transparent;
  .track{
    display: flex;
    height: 100%;
    @include animationFlow(marquee, 30s);
    &:hover{
      animation-play-state: paused;
      p {
        color: #bc9b8f;
      }
    }
    p{
      font-family: 'Noto Sans KR', sans-serif;
      line-height: 2.3;
      font-size: 1rem;
      color: $color-basic;
      letter-spacing: 2px;
      transition: $flow-speed;
    }
   }
 }

 // tow type flow
.marqueeR {
  position: relative;
  left: -120px;
  width: 120%;
  height: 100%;
  color: $color-basic;
  font-size: 6rem;
   .track {
      display: flex;
      height: 100%;
      @include animationFlow(marquee-r, 50s);
      &:hover {
        animation-play-state: paused;
        .text {
          opacity: .2;
          color: #464646;
          .em {
           color: #d98ad3;
         }
       }
      }
      .text {
        display: flex;
        align-items: center;
        line-height: 2;
        color: #fff;
        font-family: 'El Messiri', sans-serif;
        opacity: .3;
        transition: $flow-speed;
        .em {
          color: #b6eb35;
          transition: $flow-speed;
        }
      }
     }
}

@media screen and (max-width: 768px) {
  .marquee {
      .track {
        p {
          font-size: .9rem;
        }
      }
    }
  .marqueeR {
    left: -40px;
    font-size: 3rem;
  }
}