@import '../../assets/scss/common/var';

@keyframes marquee-r {
  from {transform: translateX(-100%);}
  to {transform: translateX(0);}
}

@keyframes rollCage {
  from {transform: rotate(0);}
  to {transform: rotate(5turn);}
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animatedTitle {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: transparent;
  border-top: 1px solid $color-basic;
  border-bottom: 1px solid $color-basic;
  .track{
    white-space: nowrap;
    will-change: transform;
    animation: marquee 18s linear infinite;

    p{
      font-family: 'Noto Sans KR', sans-serif;
      line-height: 2.3;
      font-size: 1rem;
      color: $color-basic;
      letter-spacing: 2px;
      transition: .4s ease-in-out;
      &:hover {
        color: #bc9b8f;
      }
    }
   }
 }

.marquee {
  position: absolute;
  left: -120px;
  width: 120%;
  height: 100%;
  color: $color-basic;
  font-size: 6rem;
  overflow: hidden;
  // transform: rotate(-20deg);
   .track {
      position: absolute;
      display: flex;
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
      transition: background-color 300ms ease, color 300ms ease;
      &:hover {
        .text {
          opacity: .2;
          color: #464646;
          //  background-color: #f1f1f1;
          .em {
           color: #d98ad3;
         }
       }
      }
      .text {
        opacity: .3;
        display: inline-flex;
        align-items: center;
        line-height: 2;
        color: #fff;
        font-family: 'El Messiri', sans-serif;
        animation: marquee 50000ms linear infinite;
        will-change: transform;
        animation-name: marquee-r;
        transition: .5s ease-in-out;
        .em {
          color: #b6eb35;
          font-weight: 900;
          transition: .5s ease-in-out;
        }
      }
     }
}

@media screen and (max-width: 768px) {
  .animatedTitle {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: hidden;
      background-color: transparent;
      border-top: 1px solid $color-basic;
      border-bottom: 1px solid $color-basic;
  
      .track {
        p {
          font-size: .9rem;
        }
      }
    }
  .marquee {
    left: -40px;
    font-size: 3rem;
  }
}