@import '../../assets/scss/common/mixin';

.main{
  .content{
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .container{
    margin: 0 auto;
    max-width: 1280px;
    .breadCrumbsBox{
      margin-top: 200px;
    }
    .profileBox{
      margin-top: 150px;
      position: relative;
      z-index: 1;
      h3 {
        margin-bottom: 30px;
        text-align: center;
        font-size: 4rem;
        letter-spacing: 5px;
        font-family: 'Abril Fatface', cursive;
      }
    }

    .tagTextBox {
      margin-top: 160px;
      .text{
        font-size: 1rem;
        line-height: 1.7;
        font-family: 'Noto Sans KR', sans-serif;
        em {
          display: inline-block;
          margin-right: 8px;
          font-weight: bold;
          font-size: 1.6rem;
          position: relative;
          font-style: normal;
          &:before {
            content: '';
            position: absolute;
            top: 17px;
            left: 12px;
            width: 92%;
            height: 14px;
            background-color: #82a75e50;
          }
        }
      }
    }

    .tabs {
      margin: 300px auto 0;
    }

    .companyLogo {
      margin: 300px 0 300px 0;

      h3 {
        padding: 50px 0;
        font-family: 'Abril Fatface', cursive;
        font-size: 4rem;
        line-height: 1.2;
      }

      ul {
        overflow-x: scroll;
        width: 100%;
        display: flex;
        -ms-overflow-style: initial; // scroll 숨기기
      }
    }
    
    .imageEffectBox{
      margin: 300px 0;
      h3 {
        position: relative;
        margin-bottom: 220px;
        padding-left: 68px;
        width: auto;
        letter-spacing: -25px;
        font-size: 6rem;
        font-family: 'Abril Fatface', cursive;
        opacity: 0;
        &::before {
          content: '#';
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .accordion {
    margin-top: 100px;
    height: 100vh;
    $itemsNo: 4;

    ul {
      list-style: none;
      -webkit-perspective: 900;
      perspective: 900;

      li {
        position: relative;
        height: calc(100vh / #{$itemsNo});
        border-bottom: 1px solid #bc9b8f;
        background-color: #424242;
        transition: all .5s ease;
        animation: flipdown 0.5s ease both;

        &:hover {
          background-color: #47352f;

          &:before {
            content: '';
            width: 100%;
            height: 100%;
            color: #fff;
            // background-color: #be4f4f;
          }

          .floatImg {
            top: -60px;
            right: 10%;
            opacity: 1;
          }

          .thumb {
            img {
              opacity: .7;
              transform: scale(1.1);
            }
          }
        }

        $delay: 0.4;

        @for $i from 1 through $itemsNo {
          &:nth-of-type(#{$i}) {
            animation-delay: #{$delay}s;
            $delay: $delay +0.3;
          }
        }

        .floatImg {
          position: absolute;
          top: 0;
          right: 10%;
          z-index: 2;
          width: 220px;
          height: 220px;
          overflow: hidden;
          opacity: 0;
          box-shadow: 0 40px 40px -20px #00000080;
          transition: .5s ease-in-out;

          img {
            @include image-cover();
          }
        }

        .textBox {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          padding: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          // p{
          //   position: absolute;
          //   top: 50%;
          //   left: 50%;
          //   z-index: 1;
          //   font-size: 3rem;
          //   color: #fff;
          //   text-align: center;
          //   transform: translate(-50%, -50%);
          // }
        }

        .thumb {
          display: block;
          width: 100%;
          height: 100%;
          opacity: .5;
          overflow: hidden;
          transition: .5s ease-in-out;
          img {
            display: block;
            @include image-cover();
            opacity: .5;
            transition: .5s ease-in-out;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .main{
    .container{
      padding: 0 20px;
      max-width: 100%;
      .breadCrumbsBox{
        margin-top: 100px;
      }
      .profileBox{
        h3 {
          margin-top: 70px;
          font-size: 2.8rem;
        }
      }
      .tagTextBox {
        .text{
          font-size: 0.9rem;
          em {
            font-size: 1.3rem;
          }
        }
      }
      .imageEffectBox{
        margin: 200px 0;
        h3{
        margin-bottom: 30px;
        padding-left: 50px;
        font-size: 3rem;
          &:before{
            left: 15px;
          }
        }
      }
      .companyLogo{
        margin: 220px 0 220px 0;
        h3{
          margin: 0 0 50px 0;
          padding: 0;
          width: 80%;
          font-size: 2rem;
          line-height: 1.2;
          font-family: 'Abril Fatface', cursive;
        }
      }
    }
    
    .accordion {
      ul {
        li {
          .floatImg{
            transform: scale(0.8);
          }
          &:hover {
            .floatImg {
              top: -135px;
            }
          }
        }
      }
    }
    .imageFadeEffect{
      .container{
        padding: 0;
      }
    }
  }
}


@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}