@import '../../assets/scss/common/mixin';

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.main{
  .content{
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .container{
    margin: 0 auto;
    max-width: 1280px;
    .breadCrumbsBox{
      margin-top: 200px;
    }
    .profileBox{
      margin-top: 150px;
      position: relative;
      z-index: 1;
      h3 {
        margin-bottom: 30px;
        text-align: center;
        font-size: 4rem;
        letter-spacing: 5px;
        font-family: 'Abril Fatface', cursive;
      }
    }

    .tagTextBox {
      margin-top: 160px;
      text-align: center;
      .tagText{
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2;
        em{
          position: relative;
          margin-right: 10px;
          // font-style: normal;
          &:before {
            content: '';
            position: absolute;
            top: 17px;
            left: 12px;
            width: 92%;
            height: 14px;
            background-color: #82a75e50;
          }
        }
      }
      .desc{
        margin-top: 20px;
        font-size: 1rem;
        line-height: 1.7;
        font-family: 'Noto Sans KR', sans-serif;
        span{
          display: block;
        }
      }
    }

    .tabs {
      margin: 300px auto 0;
    }

    .companyLogo {
      margin: 300px 0 300px 0;

      h3 {
        padding: 50px 0;
        font-family: 'Abril Fatface', cursive;
        font-size: 4rem;
        line-height: 1.2;
      }

      ul {
        overflow-x: scroll;
        width: 100%;
        display: flex;
        -ms-overflow-style: initial; // scroll 숨기기
      }
    }
    
    .imageEffectBox{
      margin: 300px 0 150px;
      h3 {
        position: relative;
        margin-bottom: 220px;
        padding-left: 68px;
        width: auto;
        letter-spacing: -25px;
        font-size: 6rem;
        font-family: 'Abril Fatface', cursive;
        opacity: 0;
        &::before {
          content: '#';
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .accordion {
    margin-top: 100px;
    height: 100vh;
    ul.imgScaleLists {
      list-style: none;
      -webkit-perspective: 900;
      perspective: 900;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main{
    .container{
      padding: 0 20px;
      max-width: 100%;
      .imageEffectBox{
        margin: 300px 0 150px;
        h3{
        margin-bottom: 120px;
        padding-left: 160px;
        font-size: 5rem;
          &::before{
            left: 90px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main{
    .container{
      padding: 0 20px;
      max-width: 100%;
      .breadCrumbsBox{
        margin-top: 100px;
      }
      .profileBox{
        h3 {
          margin-top: 70px;
          font-size: 2.8rem;
        }
      }
      .tagTextBox {
        .tagText{
          flex-direction: column;
          em {
            font-size: 1.7rem;
            &::before{
             display: none;
            }
          }
        }
      }
      .imageEffectBox{
        margin: 200px 0 0;
        h3{
        margin-bottom: 30px;
        padding-left: 50px;
        font-size: 3rem;
          &:before{
            left: 15px;
          }
        }
      }
      .companyLogo{
        margin: 220px 0 220px 0;
        h3{
          margin: 0 0 50px 0;
          padding: 0;
          width: 80%;
          font-size: 2rem;
          line-height: 1.2;
          font-family: 'Abril Fatface', cursive;
        }
      }
    }
    
    .imageFadeEffect{
      .container{
        padding: 0;
      }
    }
  }
}


