.main{
  .container{
    margin: 0 auto;
    max-width: 1280px;
    .profile{
      position: relative;
      z-index: 1;
      .bigTitle {
        margin-top: 100px;
        text-align: center;
        font-size: 4rem;
        letter-spacing: 5px;
        font-family: 'Caveat', cursive;
      }
    }

    .tagTitle{
      position: relative;
      margin: 200px auto 0;
      padding-left: 68px;
      width: auto;
      font-size: 6rem;
      // font-family: 'El Messiri', sans-serif;
      font-family: 'Abril Fatface', cursive;
      span{
        position: relative;
        
        &::before{
          content: '#';
          position: absolute;
          top: 0;
          left: -68px;
        }
      }
    }
    .text{
      margin-top: 35px;
      font-size: 1rem;
      line-height: 1.7;
      em{
        display: inline-block;
        margin-right: 8px;
        font-weight: bold;
        font-size: 1.5rem;
        position: relative;
        font-family: 'Nanum Brush Script', cursive;
        &:before{
          content: '';
          position: absolute;
          top: 17px;
          left: 12px;
          width: 92%;
          height: 14px;
          background-color: #82a75e50;
        }
      }
    }

    .companyLogo{
      margin: 100px 0 0 0 ;
      padding-bottom: 200px;
      h4{
        // font-family: 'El Messiri', sans-serif;
        // font-family: 'Caveat', cursive;
        padding: 50px 0;
        font-family: 'Abril Fatface', cursive;
        font-size: 2rem;
      }
      ul{
        overflow-x: scroll;
        width: 100%;
        display: flex;
        -ms-overflow-style: initial; // scroll 숨기기
        &::-webkit-scrollbar {
          display: block;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #efd7d7;
          display: block;
          border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
          background-color: rgb(190, 143, 143);
        }
      }
    }
    .tabs{
      margin: 200px auto 0;
    }
  }
}
