.main{
  .container{
    margin: 0 auto;
    max-width: 1280px;
    .bigTitle{
      margin-top: 100px;
      text-align: center;
      font-size: 4rem;
      letter-spacing: 5px;
      font-family: 'Caveat', cursive;
    }
    .tagTitle{
      position: relative;
      margin: 200px auto 0;
      padding-left: 68px;
      width: auto;
      font-size: 6rem;
      // font-family: 'El Messiri', sans-serif;
      font-family: 'Abril Fatface', cursive;
      span{
        position: relative;
        
        &::before{
          content: '#';
          position: absolute;
          top: 0;
          left: -68px;
        }
      }
    }
    .text{
      margin-top: 35px;
      font-size: 1rem;
      line-height: 1.7;
      em{
        display: inline-block;
        margin-right: 8px;
        font-weight: bold;
        font-size: 1.5rem;
        position: relative;
        font-family: 'Nanum Brush Script', cursive;
        &:before{
          content: '';
          position: absolute;
          top: 17px;
          left: 12px;
          width: 92%;
          height: 14px;
          background-color: #ff3b0047;
        }
      }
    }

    .companyLogo{
      margin-top: 200px;
      ul{
        overflow-x: scroll;
        width: 100%;
        display: flex;
        -ms-overflow-style: initial; // scroll 숨기기
        &::-webkit-scrollbar {
          display: block;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #efd7d7;
          display: block;
          border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
          background-color: rgb(190, 143, 143);
        }
      }
    }
    .tabs{
      width: 70%;
      margin: 50px auto 0;
      .tabMenu{
        display: flex;
        li{
          padding: 8px 20px;
          margin-right: 5px;
          background-color: #ddd;
          &.clicked{
            background-color: #dfa3a3;
          }
        }
      }
      .tabContents{
        > ul{
          margin-top: 10px;
          border-top: 2px solid #666;
          border-bottom: 2px solid #666;
          > li{
            padding: 15px 0;
            border-bottom: 1px solid #ddd;
            .skillBox{
              .graph{
                margin: 0 auto;
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
              }
              .skillType{
                margin-right: 15px;
                width: 70px;
                font-size: .7rem;
                letter-spacing: -.4px;
                text-align: right;
              }
              .line{
                width: 50%;
                height: 4px;
                background-color: #dfa3a3;
              }
              .score{
                margin-left: 15px;
                font-size: .7rem;
                letter-spacing: -.4px;
                em{
                  font-size: .6rem;
                }
              }
            }
          }
        }
      }
    }
  }
 
}

