$basic-transition: 0.5s ease-in-out;

$image1Width: 100%;
$image1Height: 62.5%;
$imageIndent: $image1Height / 4;

$image2Width: 66.666666%;
$image2Height: 125%;

$image3Width: 100%;
$image3Height: 100%;

$image4Width: 133.333333%;
$image4Height: 62.5%;

$image5Width: 66.666666%;
$image5Height: 125%;

$image6Width: 83.333333%;
$image6Height: 100%;

.moveImages {
  display: flex;
  .left, .right {
    display: flex;
    flex-direction: column;
    width: 50%;
    .imageBox {
      position: relative;
      visibility: visible;
      transition: visibility $basic-transition;
      &:hover {
        cursor: pointer;
        .item{
          &::before {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
        .info{
          opacity: 1;
          transform: translateY(-50%);
          visibility: visible;
        }
      }
      .item {
        opacity: 0;
        position: relative;
        z-index: 10;
        width: 100%;
        overflow: hidden;
        &::before {
          content: '';
          display: block;
          background-color: rgba(0,0,0,0);
          transition: background-color 0.25 ease-in-out;
        }
        &-vert::before {
          padding-bottom: 125%;
        }
        &-hor::before {
          padding-bottom: 62.5%;
        }
        &-square::before {
          padding-bottom: 100%;
        }
        .info {
          &-title {
            color: white;
          }
        }
      }
    }
    .info{
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out;
      transform: translateY(-30%);
      top: calc(50%);
      z-index: 2;
      &-title {
        margin: 0;
        text-transform: uppercase;
        text-align: left;
        color: #242424;
        font-size: 7rem;
        font-family: 'El Messiri', sans-serif;
        white-space: nowrap;
        line-height: 1;
        overflow: hidden;
      }
      &-tag, &-view {
        margin: 0;
        text-align: left;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.1em;
      }
      &-tag {
        font-size: 18px;
        letter-spacing: 0.5em;
      }
      &-view {
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        letter-spacing: 0.25em;
        color: #646464;

        .line {
          width: 50px;
          height: 2px;
          display: inline-block;
          margin: 0;
          margin-right: 10px;
          border: none;
          border-bottom: 1px solid #aaa;
          border-radius: 15rem;
        }
      }
    }
  }
  .left{
    .info{
      left: 66.66666%;
      left: 100%;
      .info-tag, .info-view{
        margin-left: 10px;
        text-align: left;
      }
      .info-title{
        transform: translateX(-33.333333%);
        text-align: left;
      }
    }
  }
  .right{
    .info{
      right: 66.66666%;
      right: 100%;
      &-tag, &-view{
        margin-right: 10px;
        text-align: right;
      }
      &-title{
        transform: translateX(33.333333%);
        text-align: right;
      }
      &-view {
        justify-content: flex-end;
        .line{
          margin-right: 0;
        }
      }
    }
  }
}


// Thanks to scss variables i'm able to change height and everything will update accordingly
// Allowed withs are 66.3% 83.3% 100% and 133.3%
@function find-margin($prevWidth,$prevHeight,$prevIndent,$myIndent) {
  $unitlessWidth: $prevWidth/100%;
  $unitlessHeight: $prevHeight/100%;
  $unitlessPrevIndent: $prevIndent/100%;
  $unitlessIndent: $myIndent/100%;
  @return percentage(($unitlessHeight * $unitlessWidth) - $unitlessPrevIndent - $unitlessIndent); 
}
@function col-to-percentage($col) {
  $max-col: 12;
  @return percentage($col / $max-col);
}

.image-1 {
  width: 100%;
  margin-top: find-margin($image6Width,$image6Height,$imageIndent,0%);
  // height = 62.5%
  .info {
    top: 37.5%;
  }
  &:nth-child(1){
    margin-top: 0%;
  }
}

.image-2 {
  width: $image2Width;
  margin-top: find-margin($image1Width,$image1Height,0%,$imageIndent);
}

.image-3 {
  // Margin top = prevheight(vert = 125% of 66%)(82.5) - prevIdentation(1/4) - MyIdentation(1/4)
  // ($image2Height * $image2Width) / 100
  margin-top: find-margin($image2Width,$image2Height,$imageIndent,$imageIndent);
  width: $image3Width;
  transform: translateX(#{col-to-percentage(2)});
}
.image-4 {
  margin-top:  find-margin($image3Width,$image3Height,$imageIndent,$imageIndent);
  transform: translateX(-25%);
  width: $image4Width;
}

@media screen and (max-width: 768px) {
  .moveImages {
    flex-direction: column;
    .left, .right {
      width: 100%;
      .info{
        width: 100%;
        left: 0;
        &-title {
          font-size: 2rem;
        }
      }
    }
  }
  .image-1{
    margin-top: 30% !important;
  }
  .image-2{
    margin: 0;
  }
  .image-3{
    margin-top: 30%;
  }
  .image-4{
    margin-top: 30%;
  }
}