$basic-transition: 0.5s ease-in-out;

$image1Width: 100%;
// $image1Height: 62.5%;
// $imageIndent: $image1Height / 4;
$image2Width: 66.666666%;
// $image2Height: 125%;
$image3Width: 100%;
// $image3Height: 100%;
$image4Width: 133.333333%;
// $image4Height: 62.5%;


.imageFade {
  display: flex;
  .contLeft, .contRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    .imageBox {
      position: relative;
      visibility: visible;
      &:hover {
        .item{
          &::before {
            background: #00000000;
          }
        }
      }
      .item {
        opacity: 0;
        position: relative;
        z-index: 10;
        width: 100%;
        overflow: hidden;
        &::before {
          content: '';
          display: block;
          background: #00000040;
          transition: all 0.25s ease-in-out;
        }
        &.vertical::before {
          padding-bottom: 125%;
        }

        &.horizon::before {
          padding-bottom: 62.5%;
        }

        &.square::before {
          padding-bottom: 100%;
        }
        // item 안에 infoText
        .textBox {
          .title {
            color: white;
          }
        }
      }
    }
    // left & right
    .textBox{
      position: absolute;
      top: 50%;
      z-index: 2;
      opacity: 1;
      transform: translateY(-50%);
      transition: all 0.25s ease-in-out;
      .title {
        margin-top: 10px;
        font-size: 7rem;
        font-family: 'El Messiri', sans-serif;
        text-transform: uppercase;
        color: #242424;
        text-align: left;
        white-space: nowrap;
        line-height: 1;
        overflow: hidden;
      }
      .tag, .smText {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
      }
      .tag {
        font-size: 1.5rem;
      }
      .smText {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        color: #646464;

        .line {
          display: inline-block;
          margin: 0 10px 0 0;
          width: 50px;
          height: 2px;
          border: none;
          border-bottom: 1px solid #aaa;
          border-radius: 15rem;
        }
      }
    }
  }
  .contLeft{
    .textBox{
      left: 66.66666%;
      .tag, .smText{
        margin-left: 10px;
      }
    }
  }
  .contRight{
    .textBox{
      right: 66.66666%;
      .tag, .smText{
        margin-right: 10px;
      }
      .smText {
        .line{
          margin-right: 0;
        }
      }
    }
  }
}


// Thanks to scss variables i'm able to change height and everything will update accordingly
// Allowed withs are 66.3% 83.3% 100% and 133.3%
@function find-margin($prevWidth,$prevHeight,$prevIndent,$myIndent) {
  $unitlessWidth: $prevWidth/100%;
  $unitlessHeight: $prevHeight/100%;
  $unitlessPrevIndent: $prevIndent/100%;
  $unitlessIndent: $myIndent/100%;
  @return percentage(($unitlessHeight * $unitlessWidth) - $unitlessPrevIndent - $unitlessIndent); 
}
@function col-to-percentage($col) {
  $max-col: 12;
  @return percentage($col / $max-col);
}

.image1 {
  width: 100%;
  .textBox {
    top: 37.5%;
  }
  &:nth-child(1){
    margin-top: 0%;
  }
}

.image2 {
  width: $image2Width;
  margin-top: 66.8%;
}

.image3 {
  // Margin top = prevheight(vert = 125% of 66%)(82.5) - prevIdentation(1/4) - MyIdentation(1/4)
  // ($image2Height * $image2Width) / 100
  margin-top: 103%;
  width: $image3Width;
  transform: translateX(#{col-to-percentage(2)});
}
.image4 {
  margin-top: 108%;
  transform: translateX(-25%);
  width: $image4Width;
}

@media screen and (max-width: 768px) {
  .imageFade {
    flex-direction: column;
    .contLeft, .contRight {
      width: 100%;
      .imageBox{
        margin-top: 0;
        width: 100%;
      }
      .textBox{
        width: 100%;
        left: 0;
        .title, .tag, .smText{
          color: #fff;
        }
        .title {
          margin-top: 5px;
          text-align: center;
          font-size: 1.8rem;
        }
        .tag{
          font-size: 1rem;
          letter-spacing: 1.5px;
        }
        .smText{
          font-size: .8rem ;
        }
      }
    }
  }

  
  .image3{
    transform: translateX(0);
  }
  .image4{
    width: 100%;
    transform: translateX(0);
  }
}