.popupLayer{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: right;
  width: 100%;
  height: 100%;
  background-color: #00000070;
  .popupContent{
    width: 80%;
    height: 100%;
    color: #fff;
    overflow-y: auto;
    transition: 2s ease-in-out;
    background-color: #bc9b8f;
    h3.toptitle {
      position: sticky;
      top: 0;
      left: 0;
      padding: 0 35px;
      height: 120px;
      line-height: 120px;
      font-size: 1.5rem;
      font-weight: bold;
      border-bottom: 2px solid #59db92;
      background-color: #bc9b8f;
    }
    .scrollWrap{
      overflow-y: auto;
      .topImage {
          .thumb {
            display: block;
            width: 100%;
            height: 320px;
            overflow: hidden;
      
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      
        .textWrap {
          padding: 0 50px;
          display: flex;
          margin-top: 100px;
          .textLeft{
            width: 65%;
            .subTitle{
              display: inline-block;
              font-size: 4rem;
              line-height: 1;
              letter-spacing: 2px;
              font-family: 'Abril Fatface', cursive;
            }
            .desc{
              margin-top: 20px;
            }
          }
          .textRight{
            width: 35%;
            .log{
              padding-left: 15%;
              dt{
                position: relative;
                font-size: 1.3rem;
                line-height: 1;
                font-family: 'El Messiri', sans-serif;
                font-weight: bold;
                &:before{
                  content: '';
                  position: absolute;
                  top: -2px;
                  left: -6px;
                  width: 3px;
                  height: 7px;
                  border-radius: 8px;
                  background-color: #fff;
                }
              }
              dd{
                margin-bottom: 20px;
                padding-left: 10px;
                font-family: 'Noto Sans KR', sans-serif;
                word-break: break-word;
              }
            }
          }
        }
    }
   
  }
  .btnClose{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
      &:before, &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 25px;
        background: #3f154b;
        border-radius: 10px;
        opacity: 1;
        transition: all .3s ease-in;
      }
      &:before {
        top: 50%;
        left: 0;
        transform: rotate(45deg);
      }
      &:after {
        left: 0;
        bottom: 50%;
        transform: rotate(-45deg);
      }
      &:hover {
        &:before, &:after {
          width: 35px;
          opacity: 0;
          transform: rotate(0);
        }
        &:before {
          top: 0;
        }
        &:after {
          bottom: 0;
        }
        span {
          opacity: 1;
        }
      }
      span {
        font-size: .8em;
        text-transform: uppercase;
        color: #fff;
        transition: all .3s ease-in;
        opacity: 0;
        cursor: pointer;
      }
  }
}

@media screen and (max-width: 768px) {
  .popupLayer{
    .popupContent{
      width: 100%;
      h3.toptitle{
        padding: 25px 45px 25px 20px;
        height: auto;
        line-height: 1.3;
        font-size: 1.2rem;
      }
      .scrollWrap{
        .textWrap{
          margin-top: 60px;
          padding: 0 20px;
          flex-direction: column-reverse;
          .textRight{
            width: 100%;
            .log{
              padding-left: 20px;
            }
          }
          .textLeft{            
            margin-top: 30px;
            width: 100%;
          }
        }
      }
    }
  }
}