.contact{
  padding: 130px 0;
  width: 100%;
  height: 100%;
  .container{
    margin: 0 auto;
    max-width: 1280px;
    .content{
      display: flex;
      align-items: center;
      margin-top: 120px;
      .leftCont{
        padding: 0 10% 0 2%;
        width: 60%;
        .title{
          font-size: 8rem;
          letter-spacing: -1.8px;
          line-height: 0.9;
          font-family: 'El Messiri', sans-serif;
        }
        form{
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          .formEmail{
            padding: 7px 10px;
            border: 1px solid #dfdfdf;
          }
          .formContext{
            padding: 7px 10px;
            margin-top: 10px;
            border: 1px solid #dfdfdf;
          }
          .btnArea{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .btnSend{
              display: block;
              margin-top: 10px;
              width: 20%;
              padding: 10px 0;
              text-align: center;
              color: #fff;
              background-color: #c7a6a6;
            }
          }
        }
      }
      .rightCont{
        padding: 0 25px;
        width: 40%;
  
      }
    }
  }
  
}