.contact{
  padding: 200px 0 0;
  width: 100%;
  height: auto;
  .container{
    margin: 0 auto;
    max-width: 1280px;
    .content{
      display: flex;
      align-items: center;
      padding-bottom: 150px;
      .leftCont{
        padding: 0 10% 0 2%;
        width: 60%;
        .title{
          font-size: 8rem;
          letter-spacing: -1.8px;
          line-height: 0.9;
          font-family: 'El Messiri', sans-serif;
        }
        form{
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          input{
            margin-top: 3px;
            &:first-child{
              margin-top: 0;
            }
          }
          .formText{
            padding: 7px 10px;
            border: 1px solid #dfdfdf;
            background: #ffffff70;
          }
          .formTextarea{
            padding: 7px 10px;
            margin-top: 10px;
            border: 1px solid #dfdfdf;
            background: #ffffff70;
          }
          .btnArea{
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            width: 100%;
            button{
              margin-left: 5px;
            }
          }
        }
      }
      .rightCont{
        padding: 0 25px;
        width: 40%;
  
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .contact{
    .container{
      padding: 0 20px;
      max-width: 100%;
      .content{
        .leftCont{
          padding: 0;
          width: 100%;
          .title{
            font-size: 6rem;
          }
        }
      }
    }
  }
}