.main{
  .subject{
    position: relative;
    padding-left: 30px;
    font-size: 1.5rem;
    &::before{
      content: '*';
      position: absolute;
      top: 0;
      left: 20px;
      color: cornflowerblue;
    }
  }
  .title{
    margin-top: 50px;
    text-align: center;
    font-size: 4rem;
  }
  .container{
    margin: 100px auto 0;
    width: 100%;
    max-width: 1410px;
    .profile-wrap{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px auto 0;
      max-width: 400px;
      .thumb{
        width: 400px;
        height: 450px;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .contents{
        width: 100%;
        margin-top: 30px;
        .utils{
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  .m-size-title{
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
  }
}