.logo{
  width: 20%;
  a, span{
    font-size: 1.8rem;
    font-family: 'El Messiri', sans-serif;
    letter-spacing: -1.1px;
  }
  a{
    animation:ani-logo 1s;
  }
  span{
    color: #bc9b8f;
  }
}


@keyframes ani-logo {
  0% {
    opacity: 0;
   letter-spacing: -5px;
  }
  100% {
    opacity: 1;
    letter-spacing: -1.1px;
  }
}