.logo{
  width: 10%;
  a, span{
    font-size: 1.8rem;
    font-family: 'El Messiri', sans-serif;
    letter-spacing: -1.1px;
    line-height: 1.2;
  }
  a{
    color: #8b6b6b;
    animation:ani-logo 1s;
  }
  span{
    color: #bc9b8f;
  }
}


@media screen and (max-width: 768px) {
  .logo{
    line-height: 1;
  }
}

@keyframes ani-logo {
  0% {
    opacity: 0;
   letter-spacing: -5px;
  }
  100% {
    opacity: 1;
    letter-spacing: -1.1px;
  }
}
