
@import '../../assets/scss/common/mixin';
@import '../../assets/scss/common/var';


.toyProject{
  overflow-y: scroll;
  height: 100%;
  // -webkit-overflow-scrolling: touch;
  // overflow-scrolling: touch;
  -ms-overflow-style: none; // scroll 숨기기
  &::-webkit-scrollbar {
    display: none;
  }
  section {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .container{
      margin: 0 auto;
      max-width: 1280px;
      padding: 200px 0;
    }
    &.intro{
      .container{
        padding: 200px 0 300px;
        .title{
          margin-top: 100px;
          font-size: 4rem;
          font-family: 'Abril Fatface', cursive;
          opacity: 0;
          transform: translate3d(-20px, 0, 0);
        }
        p{
          font-size: 1.5rem;
          opacity: 0;
          transform: translate3d(-20px, 0, 0);
        }
      }
    }
    &.extra {
      .container{
        .title{
          position: relative;
          display: inline-block;
          font-size: 4rem;
          font-family: 'Abril Fatface', cursive;
          opacity: 0;
          transform: translate3d(-20px, 0, 0);
          &:before, &:after{
            position: absolute;
            opacity: 0;
            transition: all $default-speed;
          }
          &:before{
            content: "I'm Always Waiting You";
            top: -35px;
            right: -10px;
            padding: 5px 10px;
            display: block;
            font-size: 1.2rem;
            color: #fff;
            background-color: #cddc39;
            border-radius: 20px;
           
          }
          &:after{
            content: "";
            top: -1px;
            right: 20px;
            border-top: 10px solid #cddc39;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 0px solid transparent;
          }
          &:hover{
            &:before, &:after{
             opacity: 1;
            }
          }
        }
         p{
          margin-top: 20px;
          font-size: 2rem;
          opacity: 0;
          transform: translate3d(-20px, 0, 0);
        }
      }
    }
  }
  .panels {
    .panelPath {
      height: 100vh;
      display: flex;
      flex-wrap: nowrap;
      padding: 0;
      overflow: hidden;
      background-color: #5e5951;

      .panel {
        position: relative;
        /* overflow: hidden; */
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-self: center;
        color: #333;
        text-align: left;
        background-color: #5e5951;

        .itemContent {
          position: relative;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex: 1 0 70vw;
          max-width: 70vw;

          .itemImage {
            position: relative;
            width: 60%;
          
            &::before{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 100%;
              height: 100%;
              border: 1px solid $basic-pale-color;
              transform: scale(1.03);
            }
            img {
              @include image-cover();
              opacity: .7;
              filter: blur(2px);
              transition: $default-speed;
              &:hover{
                filter: blur(0);
                opacity: 1
              }
            }
          }

          .itemBody {
            position: absolute;
            left: 20%;
            top: 50%;
            width: 43%;
            color: #fff;
            transform: translate(0, -50%);
            .title {
              font-size: 4.5rem;
              font-weight: bold;
              line-height: 1;
              text-shadow: -1px 3px 6px #414141;
            }
            .desc{
              margin-top: 10px;
              font-size: 1.2rem;
              text-shadow: -1px 3px 6px #414141;
            }
            .tags{
              margin-top: 20px;
              display: flex;
              flex-wrap: wrap;
              & li{
                margin-right: 2px;
              }
            }
            .btnWrap{
              margin-top: 18px;
              > a {
                padding: 6px 18px;
                font-size: .9rem;
                border-radius: 2px;
                background-color: $color-basic-light;
                transition: $default-speed;
                &:hover{
                  background-color: $color-basic;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes ani {
  0%{
    opacity: 0;
    transform: translateY(10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .toyProject{
    section{
      .container{
        padding: 200px 20px;
        max-width: 100%;
      
      }
      &.intro{
        .container{
          padding: 200px 20px 300px;
        }
      }
      &.extra{
        .title{
          &:before, &:after{
            opacity: 0;
            animation: ani 5s infinite;
          }
        }
      }
    }
    .panels {
      .panelPath{
         .panel{
          .itemContent {
            .itemImage {
              width: 70%;
              &::before{
               display: none;
              }
              img{
                opacity: 1;
                filter: blur(0);
              }
            }
            .itemBody {
              left: 15%;
              .title {
                font-size: 3rem;
              }
              .desc{
              font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .toyProject{
    section{
      .container{
        padding: 200px 20px;
      }
      &.intro{
        .container{
          padding: 100px 20px 100px;
          .title{
            margin-top: 40px;
            font-size: 2.2rem;
            letter-spacing: -1px;
          }
          p{
            font-size: 1rem;
            line-height: 2;
            word-break: keep-all;
            &:first-of-type{
              margin-top: 30px;
            }
          }
        }
      }
      &.extra{
        .container{
          .title{
            font-size: 3rem;
            // &:before, &:after{
            //   opacity: 0;
            //   animation: ani 5s infinite;
            // }
          }
          p{
            font-size: 1.2rem;
          }
        }
      }
    }
    .panels {
      .panelPath{
         .panel{
          padding: 130px 15px 10px;
          .itemContent {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            max-width: 100vw;
            .itemImage {
              width: 100%;
            }
            .itemBody {
              position: absolute;
              left: 20px;
              bottom: 0;
              width: 90%;
              height: 40%;
              
              .title {
                font-size: 2rem;
              }
              .desc{
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}