header{
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #ccc;
  background: linear-gradient(90deg, #ffffff00 0%, #ffffff50 10%, #ffffff50 90%, #ffffff00 100%);
  transition: all 0.5s ease-in-out;
  &.isHidden{
    top: -69px;
  }
 .processBar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1005;
    width: 0%;
    height: 5px;
    background-color: #82a75e;
    transition: .7s ease-in-out;
  }
  .container{
    margin: 0 auto;
    max-width: 1280px;
    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      padding: 5px 25px;
      ul.gnb {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 70%;
      
          li {
            a {
              display: block;
              width: 100%;
              font-size: 1.3rem;
              font-weight: bold;
              font-family: 'Caveat', cursive;
              color: #c7a6a6;
              letter-spacing: 1px;
              background-image: linear-gradient(transparent, transparent), linear-gradient(#e6b294, #e6b294);
              background-repeat: no-repeat;
              background-position: 0 100%, 0% 100%;
              background-size: 100% 1px, 0 1px;
              transition: .3s ease-in;
      
              &:hover {
                color: #8b6b6b;
                background-size: 0 1px, 100% 1px;
                background-position: 100% 100%, 0 100%;
              }
            }
          }
        }
      
        ul.sns {
          display: flex;
        }
    }
  }
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  display: block;
  padding: 7px;
  width: 40px;
  height: 40px;

  span {
    display: block;
    margin: 5px auto;
    background-color: rgb(100, 78, 78);
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transition: all .5s ease;
  }
}

/* Hambuger click animation to cross */
.hamburger.isOpen {
  span:first-child {
    transform: translateY(10px) rotate(45deg);
  }

  span:nth-child(2) {
    transform: scaleX(0);
  }

  span:last-child {
    transform: translateY(-7px) rotate(-45deg);
  }
}

.fullMenus{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(184, 165, 134);
  ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10% 0;
    height: 100%;
    li{
      a{
        display: block;
        font-size: 4rem;
      }
    }
  }
}
