  @import 'assets/scss/common/var';
  
  .tabMenu {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 2px dotted #d2c3be4f;
    border-bottom-left-radius: 12px;
    li.tabList {
      margin-right: 5px;
      display: table-cell;
      background-color: #ddd;
      &.clicked {
        button{
          color: #fff;
          background-color: #82a75e;
          &::before{
            z-index: -1;
          }
        }
      }
      button{
        position: relative;
        display: block;
        padding: 15px 0;
        width: 100%;
        height: 100%;
        color: #ababab;
        font-size: .9rem;
        text-align: center;
        letter-spacing: .5px;
        transition: $default-speed;
    
        &:hover{
          color: #fff;
          background: #658347;
          &:before{
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
          }
        }
        &::before{
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 4px;
          height: 12px;
          border-radius: 3px;
          background: #f3efe9;
          transition:all .5s ease
        }
        
      }
    }
  }

  .tabContents {
    .tabBox {
      margin-top: 50px;
      &.isActive{
        li{
          display: flex;
        }
      }
      li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        width: 80%;
        padding: 30px 5%;
        border-bottom: 1px solid #ddd;
        &:last-child{
          border-bottom: 0;
        }
          .skillType {
            position: relative;
            display: inline;
            margin-right: 15px;
            min-width: 110px;
            font-size: 1rem;
            letter-spacing: .8px;
            text-align: right;
          }
      
          .line {
            width: 0%;
            height: 8px;
            border-radius: 10px;
            background-color: #82a75e;
            transition:$default-speed;
          }
        
          .score {
            font-size: .9rem;
            margin-left: 15px;
            letter-spacing: -.4px;
          
          em {
            font-size: .7rem;
          }
        }
      }
    }
  }


  @media screen and (max-width: 768px) {
    .tabContents {
      .tabBox {
        margin-top: 10px;
        &.isActive{
          li{
            display: block;
          }
        }
        li{
          width: 100%;
          padding: 20px 0;
          .skillType {
            margin-right: 15px;
            min-width: 110px;
          }
          .lineWrap{
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
