  .tabMenu {
    display: flex;
    border-bottom: 4px solid #f5edf2;

    li.tabList {
      padding: 8px 20px;
      margin-right: 5px;
      background-color: #ddd;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;

      &.clicked {
        background-color: #b674ab;
        button{
          color: #fff;
        }
      }
      button{
        color: #ababab;
        transition: .5s ease-in-out;
      }
    }
  }

  .tabContents {
    .tabBox {
      margin-top: 10px;
      // border-top: 1px solid #ddcfcf;
      // border-bottom: 2px solid #666;
      li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        width: 90%;
        padding: 15px 5%;
        border-bottom: 1px solid #ddd;
        &:last-child{
          border-bottom: 0;
        }
          .skillType {
            margin-right: 15px;
            width: 70px;
            font-size: .7rem;
            letter-spacing: -.4px;
            text-align: right;
            font-size: .8rem;
          }
      
          .line {
            width: 50%;
            height: 4px;
            background-color: #b674ab;
          }
        
          .score {
            font-size: .8rem;
            margin-left: 15px;
            letter-spacing: -.4px;
          
          em {
            font-size: .6rem;
          }
        }
      }
    }
  }