  .tabMenu {
    display: flex;
    border-bottom: 4px solid #bc9b8f;
    border-bottom-left-radius: 12px;
    li.tabList {
      margin-right: 5px;
      &.clicked {
        button{
          color: #fff;
          background-color: #82a75e;
        }
      }
      button{
        padding: 18px 30px;
        color: #ababab;
        font-size: 1rem;
        letter-spacing: .5px;
        background-color: #ddd;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: .5s ease-in-out;
      }
    }
  }

  .tabContents {
    .tabBox {
      margin-top: 50px;
      &.isActive{
        li{
          display: flex;
        }
      }
      li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        width: 70%;
        padding: 20px 5%;
        border-bottom: 1px solid #ddd;
        &:last-child{
          border-bottom: 0;
        }
          .skillType {
            position: relative;
            display: inline;
            margin-right: 15px;
            min-width: 110px;
            font-size: 1rem;
            letter-spacing: .8px;
            text-align: right;
          }
      
          .line {
            width: 0%;
            height: 8px;
            border-radius: 10px;
            // border-top-left-radius: 5px;
            // border-bottom-right-radius: 5px;
            background-color: #82a75e;
            transition: .5s ease-in-out;
          }
        
          .score {
            font-size: .9rem;
            margin-left: 15px;
            letter-spacing: -.4px;
          
          em {
            font-size: .7rem;
          }
        }
      }
    }
  }