.footer{
  position: relative;
  padding: 25px 25px;
  border-top: 1px solid #6a5858;
  background-color: #3e3c39;
  .container{
    margin: 0 auto;
    width: 1280px;
    .content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .send{
        display: flex;
        font-size: 1.4rem;
        font-weight: bold;
        font-family: 'Amatic SC', cursive;
        color: #bc9b8f;
        a{
          position: relative;
          margin-left: 10px;
          display: block;
          &:before {
              content: '';
              position: absolute;
              bottom: 0;
              width: 0%;
              height: 1px;
              background-color: #bc9b8f;
              transition: .2s ease-in;
            }
          &:hover{
            &:before {
                width: 100%;
              }
          }
        }
      }
      .copy{
        color: #bc9b8f;
        letter-spacing: .5px;
        // font-family: 'Amatic SC', cursive;
        font-size: .85rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer{
    .container{
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer{
  padding: 20px 15px;
    .container{
      width: 100%;
      .content{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        .send{
          font-size: 1.2rem;
          line-height: .6;
          a{
            &:before {
              bottom: -5px;
            }
          }
        }
        .copy{
          margin-top: 15px;
          font-size: .7rem;
        }
      }
    }
  }
}
