.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 25px;
  border-top: 1px solid #ddd;
  background-color: #65463b;
  .container{
    margin: 0 auto;
    width: 1280px;
    .content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .send{
        display: flex;
        font-size: 1.4rem;
        font-weight: bold;
        font-family: 'Amatic SC', cursive;
        // font-family: 'Nanum Brush Script', cursive;
        color: #bc9b8f;
        a{
          position: relative;
          margin-left: 10px;
          display: block;
          &:before {
              content: '';
              position: absolute;
              bottom: 0;
              width: 0%;
              height: 1px;
              background-color: #bc9b8f;
              transition: .2s ease-in;
            }
          &:hover{
            &:before {
                width: 100%;
              }
          }
        }
      }
      .copy{
        color: #bc9b8f;
        letter-spacing: .5px;
        // font-family: 'Amatic SC', cursive;
        font-size: .85rem;
      }
    }
  }
}