
.wrap{
  position: relative;
  padding: 0;
  min-height: 100vh;
  background-color: #f3efe9;
}

.cursor {
  position: fixed;
  z-index: 10000;
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  background: #c7a6a6;
  transition: width .5s ease-in-out, height .5s ease-in-out, background .5s ease-in-out;
}

// ::selection {
//   color: #fff;
//   background: #2128bd;
// }

@media screen and (max-width: 768px) {
  .wrap {
    padding: 50px 0 0 0;
  }
  .cursor {
   display: none;
  }
}