@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC:wght@700&family=Caveat:wght@400;600&family=El+Messiri:wght@700&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@400;700&display=swap');
/*
#두꺼운 강약체
font-family: 'Abril Fatface', cursive;
# 연필체
font-family: 'Amatic SC', cursive;
#기울기체
font-family: 'Caveat', cursive;
# 굴곡 곡선체(두꺼움)
font-family: 'El Messiri', sans-serif;
# 돋음체(가독성 굳)
font-family: 'Noto Sans KR', sans-serif;

font-family: 'Nanum Brush Script', cursive;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  -ms-overflow-style: none; // scroll 숨기기
}
::-webkit-scrollbar {
  display: none;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
a,
button {
  cursor: pointer;
}
ul,
ol {
  padding-left: 0;
  list-style: none;
}

p::selection, h1::selection, h2::selection, h3::selection, h4::selection {
  background: #b674ab;
  color: #fff;
}

.ir-hidden{
  display: inline-block;
  font-size: 0;
  text-indent: -1000px;
}

.swiper{
  .swiper-wrapper{
    padding: 25px 0;
  }
  .swiper-scrollbar{
    .swiper-scrollbar-drag {
      background: linear-gradient(90deg, #bc9b8f00 0%, #bc9b8f 10%, #bc9b8f 90%, #bc9b8f00 100%);
    }
  }
}
