
.imgLists {
  position: absolute;
  display: flex;
  bottom: 0;
  height: 105px;

  li{
    img {
      width: 105px;
      height: 105px;
      border-radius: 10px;
      object-fit: cover;
      object-position: center;
      cursor: pointer;
      transition: 300ms;

      &:nth-child(2) {
        margin: 0 10px;
      }

      &:hover {
        opacity: .75;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .imgLists {
    position: absolute;
    display: flex;
    top: 0;
    margin-top: 35px;
    height: 105px;
  }
}
