
@import 'assets/scss/common/mixin';

.blogWrap{
  position: relative;
  display: flex;
  margin: 30px auto 0;
  padding: 50px;
  height: 550px;
  box-sizing: border-box;
  background-color: #ffffff80;
  .mainImg {
    position: relative;
    width: 30vw;
    height: 100%;
    overflow: hidden;
    background-color: #f6f6f6;
    border: 1px solid #c7a6a629;

    img {
      @include image-cover();
      object-position: center;
    }
  }
  
  .blogContent {
    position: relative;
    width: calc(100% - 30vw);
    padding-left: 35px;

    .btnWrap {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      border-radius: 10px;
      a{
        display: block;
        margin-left: 6px;
        padding: 10px 30px;
        text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: .8rem;
        color: #fff;
        background-color: #c7a6a6;
        transition: .5s ease-in-out;
      }
    }

    .textBox {
      margin-top: 50px;
      min-height: 300px;
      .title {
        font-size: 2rem;
        font-weight: bold;
      }
      p {
        margin-top: 15px;
        width: 100%;
        font-size: .9rem;
        span{
          display: block;
          line-height: 1.6;
          &:last-child{display: none;}
        }
      }
    }
    .imgLists {
      position: absolute;
      bottom: 3px;
      padding: 0 30px 0 0;
      width: 100%;
      overflow: hidden;
      .thumb{
        display: block;
        width: 100%;
        height: 120px;
        overflow: hidden;
        border-radius: 3px;
        border: 1px solid #c7a6a629;
        img {
          @include image-cover();
          object-position: center;
          cursor: pointer;
          transition: 300ms;
      
          &:nth-child(2) {
            margin: 0 10px;
          }
      
          &:hover {
            opacity: .75;
          }
        }
      }
     
     
    }
  }
}

@media screen and (max-width: 968px) {
  .blogWrap {
    flex-direction: column;
    padding: 30px 15px;
    height: 50vh;
    min-height: 470px;
    .mainImg {
      width: 100%;
      height: 100%;
    }
    .blogContent {
      width: 100%;
      height: auto;
      padding: 140px 0 0;
      .btnWrap{
        position: relative;
        top: 40px;
      }
      .textBox{
        margin-top: 55px;
        min-height: 250px;
      }
      .imgLists {
        position: absolute;
        top: 0;
        display: flex;
        padding: 0;
        width: 100%;
        height: 160px;
        .thumb{
          height: 160px;;
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .blogWrap {
    flex-direction: column;
    padding: 30px 15px;
    height: 50vh;
    min-height: 470px;
    .mainImg {
      width: 100%;
      height: 100%;
    }
    .blogContent {
      width: 100%;
      height: auto;
      padding: 140px 0 0;
      .btnWrap{
        position: relative;
        top: 0;
      }
      .textBox{
        margin-top: 20px;
        min-height: 100%;
        .title{
          font-size: 1.5rem;
        }
        p{
          width: 100%;
          font-size: 1rem;
          // height: 120px;
          height: 140px;
          overflow-y: scroll;
          -ms-overflow-style:auto ; /* IE and Edge */
          scrollbar-width: auto; /* Firefox */
          &::-webkit-scrollbar {
            width: 3px;
          }
          &::-webkit-scrollbar-thumb {
              background: #a9a9a9;
          }
          span{
            font-size: .8rem;
          }
        }
      }
      .imgLists {
        position: absolute;
        top: 0;
        display: flex;
        padding: 0;
        width: 100%;
        height: 120px;
        .thumb{
          display: block;
          width: 100%;
        }
      }
    }
  }
}
