
.imgLists {
  position: absolute;
  bottom: 0;
  padding: 0 30px 0 0;
  width: 100%;
  overflow: hidden;
  .thumb{
    display: block;
      width: 180px;
      height: 120px;
      overflow: hidden;
      border-radius: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      cursor: pointer;
      transition: 300ms;
  
      &:nth-child(2) {
        margin: 0 10px;
      }
  
      &:hover {
        opacity: .75;
      }
    }
  }
 
 
}

@media screen and (max-width: 768px) {
  .imgLists {
    position: absolute;
    top: 0;
    display: flex;
    padding: 0;
    width: 100%;
    height: 120px;
    .thumb{
      display: block;
      width: 100%;
      height: 95px;
    }
  }
}
