
@import '../../assets/scss/common/mixin';

.blogWrap{
  position: relative;
  display: flex;
  margin: 30px auto 0;
  padding: 30px;
  height: 55vh;
  min-height: 470px;
  background-color: #ffffff80;
  .mainImg {
    position: relative;
    width: 30vw;
    height: 49vh;
    overflow: hidden;
    background-color: #f6f6f6;

    img {
      @include image-cover();
      object-position: center;
    }
  }
  
  .blogContent {
    position: relative;
    width: calc(100% - 30vw);
    padding-left: 35px;

    .btnWrap {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      border-radius: 10px;
      a{
        display: block;
        margin-left: 6px;
        padding: 10px 30px;
        text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: .8rem;
        color: #fff;
        background-color: #c7a6a6;
        transition: .5s ease-in-out;
      }
    }

    .textBox {
      margin-top: 60px;
      min-height: 300px;
      .title {
        font-size: 2rem;
        font-weight: bold;
      }
      p {
        margin-top: 15px;
        width: 80%;
        font-size: .9rem;
      }
    }
    .imgLists {
      position: absolute;
      bottom: 3px;
      padding: 0 30px 0 0;
      width: 100%;
      overflow: hidden;
      .thumb{
        display: block;
        width: 7.8vw;
        height: 120px;
        overflow: hidden;
        border-radius: 5px;
        img {
          @include image-cover();
          object-position: center;
          cursor: pointer;
          transition: 300ms;
      
          &:nth-child(2) {
            margin: 0 10px;
          }
      
          &:hover {
            opacity: .75;
          }
        }
      }
     
     
    }
  }
}



@media screen and (max-width: 768px) {
  .blogWrap {
    flex-direction: column;
    padding: 30px;
    min-height: 70vh;
    .mainImg {
      width: 100%;
      height: 100%;
    }
    .blogContent {
      width: 100%;
      height: auto;
      padding: 20vh 0 0;
      .btnWrap{
        position: relative;
      }
      .textBox{
        margin-top: 20px;
        .title{
          font-size: 1.5rem;
        }
        p{
          width: 100%;
          font-size: 1rem;
        }
      }
      .imgLists {
        position: absolute;
        top: 0;
        display: flex;
        padding: 0;
        width: 100%;
        height: 120px;
        .thumb{
          display: block;
          width: 100%;
          height: 20vh;
        }
      }
    }
  }
 
}
