  .imgThumb {
    display: flex;
    justify-content: center;
    width: 250px;
    border: 1px solid #79554850;
  }

  
  @media screen and (max-width: 768px) {
    .imgThumb {
      width: 100%;
    }
  }
